In [1]:
import polars as pl
import constants

In [15]:
df = pl.read_parquet(constants.CONTRIBUTIONS_TABLE_PARQUET_PATH)

In [16]:
df

shape: (116_147, 17)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ transactio ┆ transactio ┆ date      ┆ amount ┆ … ┆ candidate ┆ recipient ┆ election. ┆ ico.statu │
│ n.id       ┆ n.type     ┆ ---       ┆ ---    ┆   ┆ .party    ┆ .state    ┆ type      ┆ s         │
│ ---        ┆ ---        ┆ date      ┆ i64    ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆ str        ┆           ┆        ┆   ┆ str       ┆ str       ┆ str       ┆ str       │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ comm:1980: ┆ 24K        ┆ 1979-06-1 ┆ 250    ┆ … ┆ Democrat  ┆ HI        ┆ P         ┆ I         │
│ 100003     ┆            ┆ 9         ┆        ┆   ┆           ┆           ┆           ┆           │
│ comm:1980: ┆ 24K        ┆ 1979-08-1 ┆ 25     ┆ … ┆ Republica ┆ IL        ┆ P         ┆ I         │
│ 100018     ┆            ┆ 9         ┆        ┆   ┆ n         ┆           ┆           ┆           │
│ comm:1980: ┆ 24K        ┆ 1979-10-1 ┆ 125    ┆ … ┆ Democrat  ┆ TX        ┆ P         ┆ I         │
│ 100032     ┆            ┆ 9         ┆        ┆   ┆           ┆           ┆           ┆           │
│ comm:1980: ┆ 24K        ┆ 1979-10-1 ┆ 100    ┆ … ┆ Republica ┆ CA        ┆ P         ┆ I         │
│ 100047     ┆            ┆ 9         ┆        ┆   ┆ n         ┆           ┆           ┆           │
│ comm:1980: ┆ 24K        ┆ 1980-01-1 ┆ 100    ┆ … ┆ Democrat  ┆ TX        ┆ P         ┆ I         │
│ 100061     ┆            ┆ 9         ┆        ┆   ┆           ┆           ┆           ┆           │
│ …          ┆ …          ┆ …         ┆ …      ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ indv:1980: ┆ 15         ┆ 1979-11-2 ┆ 500    ┆ … ┆ Republica ┆ KY        ┆ P         ┆ O         │
│ 293350     ┆            ┆ 9         ┆        ┆   ┆ n         ┆           ┆           ┆           │
│ indv:1980: ┆ 15         ┆ 1980-05-1 ┆ 1000   ┆ … ┆ Democrat  ┆ KY        ┆ P         ┆ C         │
│ 325906     ┆            ┆ 6         ┆        ┆   ┆           ┆           ┆           ┆           │
│ indv:1980: ┆ 24T        ┆ 1980-07-0 ┆ 50     ┆ … ┆ Republica ┆ VT        ┆ G         ┆ C         │
│ 44485      ┆            ┆ 2         ┆        ┆   ┆ n         ┆           ┆           ┆           │
│ indv:1980: ┆ 24T        ┆ 1979-10-1 ┆ 200    ┆ … ┆ Republica ┆ OK        ┆ P         ┆ I         │
│ 64290      ┆            ┆ 1         ┆        ┆   ┆ n         ┆           ┆           ┆           │
│ indv:1980: ┆ 24T        ┆ 1980-07-2 ┆ 425    ┆ … ┆ Democrat  ┆ CT        ┆ G         ┆ O         │
│ 95248      ┆            ┆ 4         ┆        ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [9]:
agg_donations_df = df.select(['committee.id', 'candidate.id', 'amount']).group_by(['committee.id', 'candidate.id']).sum()

In [12]:
agg_donations_df

shape: (76_473, 3)
┌──────────────┬──────────────┬────────┐
│ committee.id ┆ candidate.id ┆ amount │
│ ---          ┆ ---          ┆ ---    │
│ i64          ┆ str          ┆ i64    │
╞══════════════╪══════════════╪════════╡
│ 100031930    ┆ cand39372    ┆ 500    │
│ 100031986    ┆ cand403      ┆ 200    │
│ 108168941    ┆ cand251      ┆ 500    │
│ 100031877    ┆ cand391      ┆ 500    │
│ 40923        ┆ cand157      ┆ 250    │
│ …            ┆ …            ┆ …      │
│ 100031556    ┆ cand257      ┆ 400    │
│ 100048276    ┆ cand515      ┆ 200    │
│ 100050277    ┆ cand303      ┆ 500    │
│ 100048529    ┆ cand556      ┆ 300    │
│ 100063123    ┆ cand56582    ┆ 11     │
└──────────────┴──────────────┴────────┘

In [14]:
76473/(2726 * 1566)

0.017913915382734166

In [10]:
agg_donations_df['committee.id'].unique()

shape: (2_726,)
Series: 'committee.id' [i64]
[
	935
	943
	1636
	1925
	2303
	…
	35398802066
	35398802158
	35400803005
	35400803009
	36035281644
]

In [11]:
agg_donations_df['candidate.id'].unique()

shape: (1_566,)
Series: 'candidate.id' [str]
[
	"cand56291"
	"cand35308"
	"cand37456"
	"cand409"
	"cand37327"
	…
	"cand53339"
	"cand35929"
	"cand37272"
	"cand491"
	"cand55758"
]

In [122]:
df.group_by(['committee.id', 'candidate.party']).sum().sort(by='amount', descending=True).group_by('committee.id', maintain_order=True).first()[['committee.id', 'candidate.party', 'amount']]

shape: (2_726, 3)
┌──────────────┬─────────────────┬─────────┐
│ committee.id ┆ candidate.party ┆ amount  │
│ ---          ┆ ---             ┆ ---     │
│ i64          ┆ str             ┆ i64     │
╞══════════════╪═════════════════╪═════════╡
│ 100031435    ┆ Republican      ┆ 5271071 │
│ 36035281644  ┆ Republican      ┆ 3182181 │
│ 100031433    ┆ Republican      ┆ 1488401 │
│ 2832         ┆ Democrat        ┆ 1458140 │
│ 100031430    ┆ Republican      ┆ 1129109 │
│ …            ┆ …               ┆ …       │
│ 100770433    ┆ Republican      ┆ 10      │
│ 100739327    ┆ Republican      ┆ 10      │
│ 101339345    ┆ Democrat        ┆ 10      │
│ 100135878    ┆ Republican      ┆ 10      │
│ 102063716    ┆ Democrat        ┆ 8       │
└──────────────┴─────────────────┴─────────┘

In [107]:
df.null_count()

shape: (1, 17)
┌─────────────┬────────────┬──────┬────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ transaction ┆ transactio ┆ date ┆ amount ┆ … ┆ candidate. ┆ recipient. ┆ election.t ┆ ico.status │
│ .id         ┆ n.type     ┆ ---  ┆ ---    ┆   ┆ party      ┆ state      ┆ ype        ┆ ---        │
│ ---         ┆ ---        ┆ u32  ┆ u32    ┆   ┆ ---        ┆ ---        ┆ ---        ┆ u32        │
│ u32         ┆ u32        ┆      ┆        ┆   ┆ u32        ┆ u32        ┆ u32        ┆            │
╞═════════════╪════════════╪══════╪════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 0           ┆ 0          ┆ 0    ┆ 0      ┆ … ┆ 0          ┆ 0          ┆ 6          ┆ 752        │
└─────────────┴────────────┴──────┴────────┴───┴────────────┴────────────┴────────────┴────────────┘

In [106]:
df['ico.status'].unique()

shape: (5,)
Series: 'ico.status' [str]
[
	"I"
	""
	null
	"O"
	"C"
]